/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #333;
  transition: background-color 0.5s;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: color 0.5s, background-color 0.3s;
}

nav ul li a:hover {
  color: #ff6347;
  background-color: #444;
}

nav.scrolled {
  background-color: #555;
}

header, section {
  padding: 100px 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #08023b;
}

header h5 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #12054d;
  font-style: italic;
}

.int-logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

header p {
  font-size: 1.5rem;
}

#about {
  background-color: #e0f7fa;
  color: #00796b;
}

#services {
  background-color: #ffe0b2;
  color: #e65100;
}

#contact {
  background-color: #d1c4e9;
  color: #4a148c;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

section p {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
  }

  header, section {
      padding: 50px 20px;
      height: auto;
  }
}
